NodeRed_ConnectFireBaseDatabase
[{"id":"19daae2.10d7e52","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18304289.cca06d","type":"firebase modify","z":"19daae2.10d7e52","name":"","firebaseconfig":"","childpath":"temperatura","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":300,"wires":[[]]},{"id":"51f8000.1ceba","type":"inject","z":"19daae2.10d7e52","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["18304289.cca06d"]]},{"id":"7933fad5.45b1f4","type":"inject","z":"19daae2.10d7e52","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["18304289.cca06d"]]},{"id":"562584e8.06219c","type":"inject","z":"19daae2.10d7e52","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["18304289.cca06d"]]}]
